<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Post Tweets</h1>
    <form method="post" action="/api/update">
      <input type="text" name="status">
      <input type="submit" value="Post!">
    </form>
  </body>
</html>
